<div id="<%= dom_id customer %>">
  <p>
    <i class="fa-solid fa-user"></i>
    <strong>Full name:</strong>
    <%= customer.full_name %>
  </p>

  <p>
    <i class="fa-solid fa-phone"></i>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <i class="fa-solid fa-at"></i>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>
</div>
