<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <div class="card shadow p-3 mb-2 bg-white rounded">
      <%= render customer %>
      <p>
        <%= link_to "Show this customer", customer, class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New customer", new_customer_path, class: "btn btn-success" %>
